@{
	 @model List<Repositorio>
	 ViewData["Title"] = "Minha Lista de Repositórios";
}

<h2>@ViewData["Title"]</h2>

<ul>
	 @{
		  foreach (Repositorio repo in Model) {
				<li><a asp-controller="GithubAPI" asp-action="ExibeDetalhes" asp-route-id="@repo.RepoID">@repo.Name</a></li>
		  }
	 }
</ul>

